@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Regular.latin.base.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Medium.latin.base.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Semibold.latin.base.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Bold.latin.base.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Regular.latin.extend.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Medium.latin.extend.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Semibold.latin.extend.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "SFProRounded";
	src: url("../assets/fonts/SF-Pro-Rounded-Bold.latin.extend.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CascadiaCode";
	src: url("../assets/fonts/CascadiaCode.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;

		--hue: 200deg;
		--saturation: 10%;

		--bg-hue: var(--hue);
		--bg-saturation: var(--saturation);
		--bg-brightness: 96%;

		--theme-accent-base: var(--bg-hue) 53% 27%;
		--theme-accent-one: var(--bg-hue) 53% 27%;
		--theme-accent-two: 351deg 66% 48%;

		--fg-hue: var(--hue);
		--fg-saturation: var(--saturation);
		--fg-brightness: 9%;
		--theme-text: var(--theme-color-500);

		--theme-link: var(--hue) 97% 31%;
		--theme-accent: var(--theme-color-600);
		--theme-quote: var(--theme-text);

		--theme-lightest: var(--theme-color-350);
		--theme-lighter: var(--theme-color-400);
		--theme-light: var(--theme-color-450);

		--theme-special-lightest: hsl(var(--hue), var(--saturation), 100%);
		--theme-special-lighter: hsl(var(--hue), var(--saturation), 98%);
		--theme-special-light: hsl(var(--theme-bg));
		--theme-special: var(--theme-color-75);

		pre code span {
			color: var(--shiki-light) !important;
			font-style: var(--shiki-light-font-style) !important;
			font-weight: var(--shiki-light-font-weight) !important;
			text-decoration: var(--shiki-light-text-decoration) !important;
		}
	}

	:root[data-theme="dark"] {
		color-scheme: dark;

		--hue: 200deg;
		--saturation: 53%;

		--bg-hue: var(--hue);
		--bg-saturation: var(--saturation);
		--bg-brightness: 15%;

		--theme-accent-base: var(--hue) 10% 85%;
		--theme-accent-one: 50deg 49% 80%;
		--theme-accent-two: 50deg 72% 63%;

		--fg-hue: var(--hue);
		--fg-saturation: var(--saturation);
		--fg-brightness: 98%;
		--theme-text: var(--theme-color-500);

		--theme-link: var(--hue) 61% 71%;
		--theme-accent: var(--theme-color-600);
		--theme-quote: var(--theme-text);

		--theme-lightest: var(--theme-color-350);
		--theme-lighter: var(--theme-color-400);
		--theme-light: var(--theme-color-450);

		--theme-special-lightest: var(--theme-color-250);
		--theme-special-lighter: var(--theme-color-200);
		--theme-special-light: var(--theme-color-150);
		--theme-special: hsl(var(--hue) var(--saturation) 0% / 0.150);

		pre code span {
			color: var(--shiki-dark) !important;
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}

	:root {
		--theme-bg: var(--bg-hue) var(--bg-saturation) var(--bg-brightness);
		--theme-fg: var(--fg-hue) var(--fg-saturation) var(--fg-brightness);

		--theme-color-900: hsl(var(--theme-fg) / 1.0000);
		--theme-color-850: hsl(var(--theme-fg) / 0.9675);
		--theme-color-800: hsl(var(--theme-fg) / 0.935);
		--theme-color-750: hsl(var(--theme-fg) / 0.880);
		--theme-color-700: hsl(var(--theme-fg) / 0.825);
		--theme-color-650: hsl(var(--theme-fg) / 0.785);
		--theme-color-600: hsl(var(--theme-fg) / 0.745);
		--theme-color-550: hsl(var(--theme-fg) / 0.675);
		--theme-color-500: hsl(var(--theme-fg) / 0.605);
		--theme-color-450: hsl(var(--theme-fg) / 0.500);
		--theme-color-400: hsl(var(--theme-fg) / 0.395);
		--theme-color-350: hsl(var(--theme-fg) / 0.290);
		--theme-color-300: hsl(var(--theme-fg) / 0.185);
		--theme-color-250: hsl(var(--theme-fg) / 0.150);
		--theme-color-200: hsl(var(--theme-fg) / 0.115);
		--theme-color-150: hsl(var(--theme-fg) / 0.080);
		--theme-color-100: hsl(var(--theme-fg) / 0.045);
		--theme-color-75: hsl(var(--theme-fg) / 0.03375);
		--theme-color-50: hsl(var(--theme-fg) / 0.0225);

		--code-inline-bg: var(--theme-color-150);
		--code-bg: var(--theme-special);
		--code-title-bg: var(--theme-color-200);
		--code-line-highlight: var(--theme-color-150);
		--code-line-diff-add: rgba(72, 191, 145, 0.15);
		--code-line-diff-remove: rgba(248, 85, 82, 0.15);
	}

	html {
		letter-spacing: 0.025em;
	}

	h1 {
		@apply text-2xl md:pt-[0.0rem] !important;
	}
	h2 {
		@apply text-xl md:pt-[0.215rem] !important;
	}
	h3 {
		@apply text-lg md:pt-[0.250rem] !important;
	}
	h4 {
		@apply text-base md:pt-[0.425rem] !important;
	}
	h5 {
		@apply text-base md:pt-[0.425rem] !important;
	}
	h6 {
		@apply text-base md:pt-[0.425rem] !important;
	}
	
	h1, h2, h3, h4, h5, h6 {
		@apply min-h-8 h-auto !important;
	}

	pre {
		@apply relative;
	}

	#main {
		position: relative;
	}

	#main .background-gradient {
		@apply absolute top-0 left-1/2 md:top-[-15%] -ml-[50vw] min-h-screen w-screen pointer-events-none blur-3xl opacity-50 overflow-x-hidden;
	}

	#main .gradient-1 {
		@apply absolute top-[10%] right-[-40%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-10;
	}

	#main .gradient-2 {
		@apply absolute top-[10%] left-[-40%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-10;
	}

	#main .gradient-3 {
		@apply absolute top-[-20%] left-[-50%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-10;
	}

	#main .gradient-4 {
		@apply absolute top-[-20%] right-[-50%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-10;
	}

	#main::after {
		content: '';
		position: absolute;
		inset: 0;
		z-index: -1;
	}

	#main .bg-gradient {
		position: absolute;
		height: 100%;
	}

	#main .bg-gradient-1 {
		top: 10%;
		right: -40%;
		width: 65%;
		background: linear-gradient(to bottom, #d8b4fe, #93c5fd, transparent);
		border-radius: 9999px;
		opacity: 0.3;
	}

	#main .bg-gradient-2 {
		top: 10%;
		left: -40%;
		width: 65%;
		background: linear-gradient(to bottom, #93c5fd, #f9a8d4, transparent);
		border-radius: 9999px;
		opacity: 0.3;
	}

	#main .bg-gradient-3 {
		top: -20%;
		left: -50%;
		width: 85%;
		background: linear-gradient(to bottom, #a5b4fc, #fdba74, transparent);
		border-radius: 9999px;
		opacity: 0.6;
	}

	#main .bg-gradient-4 {
		top: -20%;
		right: -50%;
		width: 85%;
		background: linear-gradient(to bottom, #fdba74, #a5b4fc, transparent);
		border-radius: 9999px;
		opacity: 0.6;
	}

	.dark #main .bg-gradient {
		opacity: 0.1;
	}
}

:root {
	figure[data-rehype-pretty-code-figure] {
		@apply relative m-0 rounded-lg overflow-auto;

		figcaption {
			@apply m-0;
		}

		[data-rehype-pretty-code-title] {
			@apply break-words bg-[var(--code-title-bg)] border-b border-bgColor text-textColor px-4 flex items-center text-sm h-10;

			& + pre {
				@apply m-0 rounded-t-none;
				}
		}

		pre {
			@apply m-0 static px-0 py-2 max-h-[612px] text-sm;

			> code {
				counter-reset: line;

				&[data-line-numbers] {
					> [data-line]::before {
						counter-increment: line;
						content: counter(line);
						@apply mr-4 inline-block w-4 text-right text-lightest;
					}
				}

				> [data-line] {
					@apply px-4 h-6 bg-transparent flex items-center;
				}

				[data-highlighted-line] {
					background-color: var(--code-line-highlight);
				}

				[data-highlighted-line-id="add"] {
					background-color: var(--code-line-diff-add);
				}

				[data-highlighted-line-id="remove"] {
					background-color: var(--code-line-diff-remove);
				}

				[data-highlighted-chars] > span {
					@apply py-[4px];
				}
			}
		}
	}

	pre {
		@apply bg-[var(--code-bg)] text-[var(--theme-text)] rounded-lg leading-loose m-0;
	}

	:not(pre) > code {
		@apply bg-[var(--code-inline-bg)] px-2 py-1 text-sm rounded-lg;
	}
}

@layer components {
	article mark {
		@apply bg-transparent;
	}
}