---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			Hi, I’m Irene.
		</p>
		<p>Here are my some of my personalty:</p>
		<ul class="list-inside list-disc" role="list">
			<li>I'm fully responsive</li>
		</ul>
	</div>

</PageLayout>
