---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@/components/FormattedDate.astro';
import type { HTMLTag, Polymorphic } from 'astro/types';

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  post: CollectionEntry<'post'>;
  withDesc?: boolean;
};

const { as: Tag = 'div', post, withDesc = false } = Astro.props;
---

<div class="flex flex-col">
  <Tag class="citrus-link font-medium text-accent-base">
    <a data-astro-prefetch href={`/posts/${post.id}/`}>
      {post.data.title}
    </a>
  </Tag>
  <FormattedDate
    class="text-xs shrink-0 text-lighter"
    date={post.data.publishDate}
    dateTimeOptions={{
      year: 'numeric',
      month: 'long',
      day: '2-digit',
    }}
  />
  <p class="mt-0.5 line-clamp-2">{post.data.description}</p>
</div>
